@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply bg-gray-300 px-5 py-3 rounded-md text-sm outline-none
           focus:ring-2 focus:ring-yellow-400;
  }
}

.input {
  @apply w-full px-4 py-3 rounded-lg outline-none border border-gray-300
         focus:border-yellow-400 bg-white;
}

